<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>SpoonConscious</title>
<link rel="stylesheet" type="text/css" href="css/styles.css">
</head>
<body>
  <!-- <div id="header-bar"> -->
  <div id = "header"><a href = "home">
    <h1>SpoonConscious</h1>
    <h2>Gluten-Free, Vegetarian, & Vegan Resources</h2></a>
  </div>
  <h1>Recipes for You</h1>

  <section class = "recipe-cards">

    <div class="card">
        <h2> <%= @title %> </h2>

        <a href="<%= @link%>"><img src= "<%= @picture%>" alt></a>
        <p><%= @content%></p>

    </div>

  <div class="card">
        <h2> <%= @title2 %> </h2>

        <a href="<%= @link2%>"><img src= "<%= @picture2%>" alt></a>
        <p><%= @content2%></p>

    </div>

    <div class="card">
        <h2> <%= @title3 %> </h2>

        <a href="<%= @link3%>"><img src= "<%= @picture3%>" alt></a>
        <p><%= @content3%></p>
        <br></br>
    </div>

    <div class="card">
        <h2> <%= @title4 %> </h2>

        <a href="<%= @link4%>"><img src= "<%= @picture4%>" alt></a>
        <p><%= @content4%></p>

        <br></br>
    </div>

    <div class="card">
        <h2> <%= @title5 %> </h2>

        <a href="<%= @link5%>"><img src= "<%= @picture5%>" alt></a>
        <p><%= @content5%></p>

        <br></br>
    </div>

    <div class="card">
        <h2> <%= @title6 %> </h2>
        <a href="<%= @link6%>"><img src= "<%= @picture6%>" alt></a>
        <p><%= @content6%></p>

        <br></br>
    </div>

    <div class="card">
        <h2> <%= @title7 %> </h2>

        <a href="<%= @link7%>"><img src= "<%= @picture7%>" alt></a>
        <p><%= @content7%></p>
        <br></br>
    </div>

    <div class="card">
        <h2> <%= @title8 %> </h2>

        <a href="<%= @link8%>"><img src= "<%= @picture8%>" alt></a>
        <p><%= @content8%></p>

        <br></br>
    </div>

    <div class="card">
        <h2> <%= @title9 %> </h2>

        <a href="<%= @link9%>"><img src= "<%= @picture9%>" alt></a>
        <p><%= @content9%></p>
        <br></br> 

    </div>

  <a href = "recipe_generator"><button div id = "button3">Try Another Diet</button></a>

  <p>Disclaimer: The recipes on this site, along with their photos, are owned by the authors of the linked posts.  We are not taking ownership of their content; this is the beginnings of a recipe collection!</p>
</body>
</html>
