<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>SpoonConscious</title>
<link rel="stylesheet" type="text/css" href="css/styles.css">
</head>
<body>
  <!-- <div id="header-bar"> -->
  <div id = "header"><a href = "home">
    <h1>SpoonConscious</h1>
    <h2>Gluten-Free, Vegetarian, & Vegan Resources</h2></a>
  </div>
  <h1>Recipes for You</h1>

  <section class = "recipe-cards">

    <div class="card">
        <h2> <%= @title %> </h2>
        <img src="image goes here" alt>
        <p> content goes here </p>
    </div>

  <div class="card">
        <h2> <%= @title2 %> </h2>
        <img src="image goes here" alt>
        <p>content goes here</p>
    </div>

    <div class="card">
        <h2> <%= @title3 %> </h2>
        <img src="image goes here" alt>
        <p> content goes here </p>
        <br></br>
    </div>

    <!-- </div><h2>Your second recipe is <%= @title2 %> </h2>
<h2>Your third recipe is <%= @title3 %> </h2> -->

  <a href = "recipe_generator"><button div id = "button3">Try Another Diet</button></a>

  <p>Disclaimer: The recipes on this site, along with their photos, are owned by the authors of the linked posts.  We are not taking ownership of their content; this is the beginnings of a recipe collection!</p>
</body>
</html>
